# Preseeding only locale sets language, country and locale.
d-i debian-installer/locale string en_US

# Keyboard selection.
d-i keyboard-configuration/xkb-keymap select us

# Configure eth1
d-i netcfg/choose_interface select {{ hostvars[item]['network_interface'] }}

# Static IPv4
d-i netcfg/disable_autoconfig boolean true
d-i netcfg/get_ipaddress string {{ hostvars[item]['ansible_host'] }}
d-i netcfg/get_netmask string {{ ansible_default_ipv4.netmask }}
d-i netcfg/get_gateway string {{ ansible_default_ipv4.gateway }}
d-i netcfg/get_nameservers string {{ dns_server }}
d-i netcfg/confirm_static boolean true
d-i preseed/early_command string kill-all-dhcp; netcfg

# Hostname
d-i netcfg/hostname string {{ hostvars[item]['inventory_hostname'] }}

# Disable wireless prompt
d-i netcfg/wireless_wep string

# Package Mirror
d-i mirror/country string {{ mirror_country }}
d-i mirror/http/hostname string {{ mirror_hostname }}
d-i mirror/http/directory string /debian
d-i mirror/http/proxy string

# Skip root login
d-i passwd/root-login boolean false

# Setup user
d-i passwd/user-fullname string {{ ansible_user }}
d-i passwd/username string {{ ansible_user }}
d-i passwd/user-password-crypted password {{ ansible_become_password | ansible.builtin.password_hash(hashtype="sha512") }}

# Time
d-i time/zone string {{ timezone }}
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean true

# Disk
## Partition
d-i partman-auto/method string lvm
d-i partman-auto-lvm/guided_size string max
d-i partman-auto/choose_recipe select atomic

## Force UEFI
d-i partman-efi/non_efi_system boolean false
d-i partman-partitioning/choose_label select gpt
d-i partman-partitioning/default_label string gpt

## Remove partition warnings
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-lvm/confirm boolean true
d-i partman-lvm/confirm_nooverwrite boolean true

## Apply Partition
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true

# System Install
tasksel tasksel/first multiselect standard, ssh-server
d-i pkgsel/upgrade select full-upgrade
popularity-contest popularity-contest/participate boolean false

# GRUB
d-i grub-installer/only_debian boolean true
d-i grub-installer/with_other_os boolean true

# Avoid that last message about the install being complete.
d-i finish-install/reboot_in_progress note

# Add ssh key
d-i preseed/late_command string \
mkdir -p /target/home/k3s/.ssh; \
echo "{{ ssh_public_key }}" >> /target/home/k3s/.ssh/authorized_keys